body {
    background-color: #bda937;
    font-family: Arial, sans-serif;
}

h1 {
    color: #1bb553;
    text-align: center;
}

#container {
    background-color: #f2dbdb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#topnav {
    background-color: #333;
    color: #fff;
}

.love {
    font-style: italic;
    color: #ff6347;
    text-align: center;
}